# Bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
.venv/
env-bak/
*~
# Distribution / packaging
build/
dist/
*.egg-info/
*.tar.gz
*.zip

# Log files
*.log

# IDE specific files
.idea/
.project
.pydevproject.xml

# OS
.DS_Store
Thumbs.db

# swap files
.*.swp

# jupyter checkpoint
.ipynb_checkpoints
*checkpoint.ipynb
.jupyter/

# latex
*.aux
*.bbl
*.blg
*.log
*.out
*.toc

acceptance.npy

Radia-Examples/
Radia-Examples_Radia/

results/

!img/lattice/Lattice-bts.png
img/

machine_data/
midterm_report/

pyat_examples/
backups_20250226/
backups_20260722/

포항자료

00_nkm_refactor
01_nkm_antigravity_publication_tasks
